---
import { Icon } from "astro-icon";
const { frontmatter } = Astro.props;
import InsightCard from "../components/InsightCard.astro";
import Form from "../components/Form.astro";
const { title, image } = frontmatter;
import "../styles/tailwind.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { href: url } = Astro.url;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Primary Meta Tags -->
    <title>State of Green Software</title>
    <meta name="title" content="State of Green Software" />
    <meta
      name="description"
      content="The State of Green Software will be the first report to map the new green software ecosystem, from key stakeholders to regulatory frameworks, from impact metrics to academic literature, open source tooling to actionable design patterns."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://stateof.greensoftware.foundation/"
    />
    <meta property="og:title" content="State of Green Software" />
    <meta
      property="og:description"
      content="The State of Green Software will be the first report to map the new green software ecosystem, from key stakeholders to regulatory frameworks, from impact metrics to academic literature, open source tooling to actionable design patterns."
    />
    <meta
      property="og:image"
      content="https://stateof.greensoftware.foundation/images/og-image.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://stateof.greensoftware.foundation/"
    />
    <meta property="twitter:title" content="State of Green Software" />
    <meta
      property="twitter:description"
      content="The State of Green Software will be the first report to map the new green software ecosystem, from key stakeholders to regulatory frameworks, from impact metrics to academic literature, open source tooling to actionable design patterns."
    />
    <meta
      property="twitter:image"
      content="https://stateof.greensoftware.foundation/images/og-image.png"
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4X7F9S319R"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore: Unreachable code error
        dataLayer.push(arguments);
      }
      // @ts-ignore: Unreachable code error
      gtag("js", new Date());
      // @ts-ignore: Unreachable code error
      gtag("config", "G-4X7F9S319R");
    </script>
  </head>
  <body>
    <div class="pattern left">
      <Icon name="pattern-left" height="600" />
    </div>
    <div class="pattern right">
      <Icon name="pattern-right" height="600" />
    </div>
    <div class="px-8">
      <Header />
      <!-- <InsightCard title={title} /> -->

      <div class="max-w-5xl mx-auto main-img-wrapper">
        <img src={`/images/insights/${image}`} alt="" srcset="" />
      </div>
      <div
        class="social max-w-5xl mx-auto flex items-center justify-end gap-4 mb-4"
      >
        <span> Share</span>
        <a
          class="button icon"
          href={`https://twitter.com/intent/tweet?text=Check%20out%20this%20insight%20on%20the%20State%20of%20green%20Software%20%7C%20${url}%2F`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="twitter" height="24" color="#006d68" />
        </a>
        <a
          class="button icon"
          href={`https://www.linkedin.com/sharing/share-offsite/?url=${url}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="linkedin" height="24" color="#006d68" />
        </a>
      </div>
      <div class="max-w-4xl mx-auto">
        <article class="prose max-w-none prose-lg">
          <slot />
        </article>
        <Form title="Sign up to receive the report" />
        <Footer />
      </div>
    </div>
    <style>
      :root {
        --primary: #aecc53;
        --primary-lightest-2: #f4f6f8;

        --secondary: #006d68;
        --secondary-lightest-2: #fbfcf6;

        --gray-lightest: #ececec;
        --gray-darkest: #1e1e1e;
      }
      body {
        background-color: var(--secondary-lightest-2);
      }

      .main-img-wrapper {
        margin-bottom: 1rem;
      }
      .main-img-wrapper img {
        border-radius: 0.5rem;
      }
      .pattern {
        position: absolute;
        z-index: -1;
      }
      .pattern.left {
        top: 0;
        left: 0;
      }
      .pattern.right {
        top: 500px;
        right: -50px;
      }
      /* Hide under 768px */
      @media (max-width: 768px) {
        .pattern {
          display: none;
        }
      }
    </style>
  </body>
</html>
