---
import "../styles/base.css";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { isHomepage, metaData } = Astro.props;
const baseURL = "https://sogs-report.netlify.app/";

const { title, description, image } = metaData
  ? metaData
  : {
      title: "State of Green Software",
      description:
        "A new report that brings global insights and data from industry leaders and researchers to the forefront to reduce software's harm to Earth and increase investment in decarbonizing software at scale.",
      image: `images/og-image.png`,
    };
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Primary Meta Tags -->
    <title>{title == "State of Green Software"
      ? title
      : `${title} | State of Green Software`}</title>
    <meta
      name="title"
      content={title == "State of Green Software"
        ? title
        : `${title} | State of Green Software`}
    />

    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={baseURL} />
    <meta
      property="og:title"
      content={title == "State of Green Software"
        ? title
        : `${title} | State of Green Software`}
    />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${baseURL}${image}`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content={baseURL}
    />
    <meta property="twitter:title" content={
      title == "State of Green Software"
        ? title
        : `${title} | State of Green Software`
    } />
    <meta
      property="twitter:description"
      content={description}
    />
    <meta
      property="twitter:image"
      content={`${baseURL}${image}`}
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4X7F9S319R"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore: Unreachable code error
        dataLayer.push(arguments);
      }
      // @ts-ignore: Unreachable code error
      gtag("js", new Date());
      // @ts-ignore: Unreachable code error
      gtag("config", "G-4X7F9S319R");
    </script>
  </head>
  <body class="bg-primary-lightest2 relative">
    <Header isHomepage={isHomepage} />
    <main class="px-4">
      <slot />
    </main>
    <Footer />
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
      .button {
        padding: 0.75rem 1.5rem;
        background: var(--primary);
        color: var(--gray-darkest);
        border: none;
        display: inline-block;
        font-weight: 800;
        font-size: 0.875rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        border-radius: 0.5rem;
      }
      .button:focus {
        box-shadow: 0 0 0 3px rgb(174 204 83 / 50%);
      }
    </style>
  </body>
</html>
 