---
import "../styles/base.css";

import LanguagePicker from '../components/LanguagePicker.astro';
import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { isHomepage, metaData } = Astro.props;
const baseURL = "https://stateof.greensoftware.foundation/";

const { title, description, image } = metaData
  ? metaData
  : {
      title: "State of Green Software",
      description:
        "A new report that brings global insights and data from industry leaders and researchers to the forefront to reduce software's harm to Earth and increase investment in decarbonizing software at scale.",
      image: `images/og-image.png`,
    };
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Primary Meta Tags -->
    <title>
      {
        title == "State of Green Software"
          ? title
          : `${title} | State of Green Software`
      }
    </title>
    <meta
      name="title"
      content={title == "State of Green Software"
        ? title
        : `${title} | State of Green Software`}
    />

    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content={title == "State of Green Software"
        ? title
        : `${title} | State of Green Software`}
    />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${baseURL}${image}`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:title"
      content={title == "State of Green Software"
        ? title
        : `${title} | State of Green Software`}
    />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={`${baseURL}${image}`} />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-5ZDW8XX");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="bg-primary-lightest2 relative">
    <Header isHomepage={isHomepage} />
    <main class="px-4">
      <slot />
    </main>
    <Footer />
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
      .button {
        padding: 0.75rem 1.5rem;
        background: var(--primary);
        color: var(--gray-darkest);
        border: none;
        display: inline-block;
        font-weight: 800;
        font-size: 0.875rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        border-radius: 0.5rem;
      }
      .button:focus {
        box-shadow: 0 0 0 3px rgb(174 204 83 / 50%);
      }
    </style>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5ZDW8XX"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <footer>
      <LanguagePicker />
    </footer>
  </body>
</html>
